.container{
    float: right;
    background-color: white;
    margin-right: 40px;
    margin-top: 100px;
    text-align: center;
    
    
}
@media (min-width: 1200px){
    .container {
        max-width: 883px;}
       

}
@media (min-width: 1300px){
    .container {
        max-width: 1052px;}
       

}
@media (min-width: 1500px){
    .container {
        max-width: 1191px;}
       

}
@media (min-width: 1700px){
    .container {
        max-width: 1356px;}
       

}
@media (min-width: 1900px){
    .container {
        max-width: 1568px;}
       

}
@media (min-width: 2000px){
    .container {
        max-width: 1699px;}
       

}
input{
    margin-left: -107px;
    margin-top: 5px;
    height: 35px;
    border-radius: 10px;
    width: 108%;
    float: left;
}
.title{
    width: 100%;
    float: left;
   
}
.editor{
    clear: left;
    padding-top: 40px;
}
textarea{
    float: left;
    width: 108%;
    height: 100px;
    border-radius: 10px;
    margin-left: -107px;
}
