<style>
    .row {
        margin-left: unset;
        margin-right: unset
    }

    .form-control {
        margin-left: 15px
    }

    .col-md-4 {
        padding-left: 0;
        padding-right: 0
    }
</style>
<div style="   margin-top: 6%;" class="form">
    <div class="container" style="background: rgba(255,255,255,.7); float: right; margin-right: 4%">
        <div class="row">
            <div class="col-md-2"></div>
            <form [formGroup]="accountForm" novalidate>
                <div class="col-md-10" style="padding: 50px">
                    <h1
                        style="color: #19c880;font-size: 55px;text-align: center; margin: initial; margin-bottom: 10px;">
                        Thêm tài khoản</h1>
                    <hr>

                    <div style="border-radius: 10px" class="input-group margin-bottom-20">
                        <label>Họ và tên:&ensp;&ensp; </label>
                        <span class="input-group-addon"><i style="border-radius: 10px;margin-left: 20px"
                                class="glyphicon glyphicon-user mycolor"></i></span>
                        <input formControlName="tenNguoiDung" size="60" maxlength="255" class="form-control"
                            placeholder="Nhập tên" type="text" #tenNguoiDung> </div>
                    <div class="row" style="margin-top: 20px">

                        <div class="col-md-4">
                            <label style="position: absolute">Khối:</label>
                            <select aria-placeholder="chọn khối"
                                style="margin-left: 95px;width:180px;border-radius: 10px" class="form-control"
                                formControlName="khoi" [(ngModel)]="khoilop" (change)="getlop()">
                                <option [ngValue]="khois" *ngFor="let khois of danhsachkhoi">{{khois}}</option>
                            </select>
                        </div>
                        <div class="col-md-4" style="    margin-left: 30px">
                            <label style="position: absolute">Lớp:</label>
                            <!-- <input size="60"  [(ngModel)]="lop" maxlength="255" class="form-control" style="margin-left: 50px;width:200px" placeholder="Nhập số hiệu lớp"> -->
                            <select (change)="gethocsinh()" aria-placeholder="chọn lớp"
                                style="margin-left: 55px;width:180px;border-radius: 10px" id="lop" class="form-control"
                                [(ngModel)]="soHieu" formControlName="lop">
                                <option [ngValue]="item" *ngFor="let item of danhsachlop">{{item.soHieu}}</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label style="margin-left: -30px;position: absolute">Học Sinh:</label>
                            <select aria-placeholder="chọn học sinh"
                                style="margin-left: 50px;width:180px;border-radius: 10px" id="lop" class="form-control"
                                [(ngModel)]="hocsinh" formControlName="tenHocSinh">
                                <option [ngValue]="student" *ngFor="let student of danhsachhocsinh">
                                    {{student.tenHocSinh}}</option>
                            </select>
                        </div>

                    </div>



                    <div style="border-radius: 10px" class="input-group margin-bottom-20">
                        <label>Số điện thoại &ensp;</label>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone mycolor"></i></span>
                        <input formControlName="soDienThoai" size="60" maxlength="255" class="form-control"
                            placeholder="Số điện thoại" type="text" #soDienThoai> </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-6 form-group">
                            <button style="float: right;font-size: 25px;border-radius: 10px ; background-color:#19c880"
                                class="btn-u pull-left" type="submit"
                                (click)="tao(tenNguoiDung.value,soDienThoai.value)"
                                [disabled]="accountForm.pristine || accountForm.invalid">Thêm tài khoản</button>
                        </div>
                        <div class="col-md-6 form-group">
                            <button style="font-size: 25px;border-radius: 10px ; background-color:#19c880"
                                class="btn-u pull-left" type="submit" (click)=" importexcel()">Import Excel</button>
                        </div>

                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <input style="width: 320px;" type="file" class="form-control" (change)="uploadedFile($event)" placeholder="Upload file"
                                accept=".xlsx">

                        </div>
                    </div>


                </div>
            </form>

        </div>
    </div>

</div>