<body>
    <div class="container-fluid">

        <div class="container cl">
            <div>
                <h1 style="text-align: center;color:#199461">Danh Sách Tài Khoản</h1>
            </div>
            <div style="float: right" class="table">
                <table style="float: right" id="datatable" datatable class="row-border hover">
                    <thead>
                        <tr>
                            <th>Ảnh đại diện</th>
                            <th>Tên Phụ Huynh</th>
                            <th>Số Điện Thoại</th>
                            <!-- <th>Tên Học Sinh</th>
                            <th></th> -->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let user of userlist">
                            <td><img style="height: 100px;width:100px;border-radius:50%" src="../../../../assets/images/{{user.hinh}}"/></td>
                            <td>{{user.tenNguoiDung}}</td>
                            <td>{{user.soDienThoai}}</td>
                            <td>{{user.tenHocSinh}}</td>
                            <td><a href="/user/{{user._id}}"><button class="btn btn-warning"> <span class="glyphicon glyphicon-pencil"></span>&ensp; Sửa</button></a> </td>
                            <td><a href="/user/{{user._id}}"><button class="btn btn-danger"> <span class="glyphicon glyphicon-pencil"></span>&ensp; Xóa</button></a></td>    
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>