<!-- 


    <div class="container-fluid">

        <div class="container cl">
            <div>
                <h1 style="text-align: center;color:#199461">Danh Sách Tài Khoản</h1>
            </div>
            <div class="row">
                <div class="col-md-2">
                        <label style="position: absolute">Khối:</label>
                        <select aria-placeholder="chọn khối"
                            style="margin-left: 95px;width:180px;border-radius: 10px" class="form-control"
                            formControlName="khoi" [(ngModel)]="khoilop" (change)="getlop()">
                            <option [ngValue]="khois" *ngFor="let khois of danhsachkhoi">{{khois}}</option>
                        </select>
                </div>
                <div class="col-md-2">
                        <label style="position: absolute">Lớp:</label>
                      
                        <select (change)="innitDatatable()" aria-placeholder="chọn lớp"
                            style="margin-left: 55px;width:180px;border-radius: 10px" id="lop" class="form-control"
                            [(ngModel)]="soHieu" formControlName="lop">
                            <option [ngValue]="item" *ngFor="let item of danhsachlop">{{item.soHieu}}</option>
                        </select>
                </div>
                <div class="col-md-8"></div>

            </div>
            <div [hidden]="check()"style="float: right" class="table">
                <table style="float: right" id="datatable" datatable class="row-border hover">
                    <thead>
                        <tr>
                            <th>Ảnh đại diện</th>
                            <th>Tên Phụ Huynh</th>
                            <th>Số Điện Thoại</th>
                           
                           
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                </table>
                
                <div class="row" style="margin-top: 20px">
                    
                    <div class="col-md-6">
                        <a href="/home/taotaikhoan"><button style="float: right;font-size: 25px;border-radius: 10px ; background-color:#19c880"
                                class="btn-u pull-left">Thêm tài khoản</button>

                        </a>

                    </div>
                    <div class="col-md-6">
                            <button style="font-size: 25px;border-radius: 10px ; background-color:#19c880"
                            class="btn-u pull-left"(click)="exportAsXLSX()">Export Excel</button>
                    </div>

                </div>
            </div>
        </div>
    </div> -->
